/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.normal {
  background: linear-gradient(
    0deg,
    rgba(166, 168, 119, 1) 0%,
    rgba(117, 119, 87, 1) 72%
  );
}

.grass {
  background: linear-gradient(
    0deg,
    rgba(119, 200, 80, 1) 0%,
    rgba(61, 139, 23, 1) 72%
  );
}

.fire {
  background: linear-gradient(
    0deg,
    rgba(238, 127, 48, 1) 0%,
    rgba(173, 87, 26, 1) 72%
  );
}

.water {
  background: linear-gradient(
    0deg,
    rgba(103, 143, 238, 1) 0%,
    rgba(30, 69, 161, 1) 72%
  );
}

.electric {
  background: linear-gradient(
    0deg,
    rgba(247, 207, 46, 1) 0%,
    rgba(149, 123, 19, 1) 72%
  );
}

.ice {
  background: linear-gradient(
    0deg,
    rgba(152, 213, 215, 1) 0%,
    rgba(28, 124, 128, 1) 72%
  );
}

.ground {
  background: linear-gradient(
    0deg,
    rgba(223, 191, 105, 1) 0%,
    rgba(145, 115, 34, 1) 72%
  );
}

.flying {
  background: linear-gradient(
    0deg,
    rgba(169, 143, 240, 1) 0%,
    rgba(77, 46, 163, 1) 72%
  );
}

.poison {
  background: linear-gradient(
    0deg,
    rgba(160, 64, 160, 1) 0%,
    rgba(103, 25, 103, 1) 72%
  );
}

.fighting {
  background: linear-gradient(
    0deg,
    rgba(191, 48, 41, 1) 0%,
    rgba(131, 31, 26, 1) 72%
  );
}

.psychic {
  background: linear-gradient(
    0deg,
    rgba(246, 86, 135, 1) 0%,
    rgba(147, 29, 65, 1) 72%
  );
}

.dark {
  background: linear-gradient(
    0deg,
    rgba(114, 88, 71, 1) 0%,
    rgba(78, 58, 45, 1) 72%
  );
}

.rock {
  background: linear-gradient(
    0deg,
    rgba(184, 161, 55, 1) 0%,
    rgba(128, 112, 42, 1) 72%
  );
}

.bug {
  background: linear-gradient(
    0deg,
    rgba(168, 183, 32, 1) 0%,
    rgba(120, 130, 26, 1) 72%
  );
}

.ghost {
  background: linear-gradient(
    0deg,
    rgba(110, 88, 150, 1) 0%,
    rgba(65, 44, 105, 1) 72%
  );
}

.steel {
  background: linear-gradient(
    0deg,
    rgba(185, 183, 207, 1) 0%,
    rgba(139, 138, 150, 1) 72%
  );
}

.dragon {
  background: linear-gradient(
    0deg,
    rgba(111, 56, 246, 1) 0%,
    rgba(79, 41, 171, 1) 72%
  );
}

.fairy {
  background: linear-gradient(
    0deg,
    rgba(249, 174, 199, 1) 0%,
    rgba(172, 119, 137, 1) 72%
  );
}
